<div class="custom-container">
    <header-bar></header-bar>

    <div id="content">
        <div class="custom-row">
            <div class="col-l">
                <product-images product-data="productData"></product-images>
                <product-technical-details product-data="productData"></product-technical-details>
            </div>
            <div class="col-r">
                <div class="new-release">New release</div>
                <div class="product-title">
                    {{productData.title}}
                </div>
                <div class="product-subtitle">
                    {{productData.description}}
                </div>
                <div class="starting-at">
                    Starting at
                </div>
                <div class="product-price">
                    $ {{productData.price}}
                </div>
                <product-tabs product-data="productData"></product-tabs>
                <product-colors product-data="productData"></product-colors>
                <product-warranty product-data="productData"></product-warranty>
                <product-features product-data="productData"></product-features>
                <product-specifications product-data="productData"></product-specifications>
            </div>
        </div>
    </div>

</div>