/******************************************************************

Header

******************************************************************/

.header-bar {
  border-bottom: 1px solid $light-gray;
  padding-bottom: 1rem;
  margin-bottom: 2.5rem;
}
