/******************************************************************

Variables

******************************************************************/

$black: #111111;
$white: #fff;

$light-gray: #eeeff2;
$gray: #eaedf2;
$text-color: #6b7280;
$hover-color: #b6bcc6;
$blue-color: #1e96d4;

$link-color: $black;
$link-hover: darken($link-color, 9%);

$border-color: #ccc;
$disabled-gray: #cfcfcf;
$alert-red: red;
$alert-green: #645564;
$alert-blue: blue;
$text-red: #cb253c;
