<div class="space-container">
    <div class="details-title list-seprator">
        Specifications.
    </div>
    <div class="specifications-list" ng-repeat="(key, value) in productData.specs">
        <div class="specifications-list-l">
            <div class="specifications-list-title">{{getLabelName(key)}}</div>
        </div>
        <div class="specifications-list-r">
            <div class="specifications-list-value">{{value}}
            </div>
        </div>
    </div>
    <div class="specifications-list">
    </div>
</div>