<div class="details-title">
    Choose your finish.
</div>
<div class="options-row space-container">
    <div ng-mouseenter="elementHover($index)" ng-class="getOuterBorderClass($index , item)"
        ng-mouseleave="elementHoverLeave()" ng-click="selectColor(item)" class="choice-box"
        ng-repeat="item in productData.colors">
        <div class="inside-choice-box" ng-class="getInnerBorderClass($index ,item)">
            <div class="box-title">{{item.name}}</div>
            <div class="box-subtitle">{{item.description}}</div>
        </div>
    </div>
</div>