<div class="features-row">
    <div class="features-box" ng-repeat="product in productData.technical_details">
        <img class="technical-image" src="{{product.images.x1}}" />
        <div>{{product.name}}</div>
    </div>
</div>