<div class="space-container">
    <div class="details-title">
        Features.
    </div>
    <div class="box-container" ng-mouseenter="elementHover($index)" ng-class="getOuterBorderClass($index , item)"
        ng-mouseleave="elementHoverLeave()" ng-click="selectFeature(item)" ng-repeat="item in productData.features">
        <div class="inside-box-container custom-row" ng-class="getInnerBorderClass($index ,item)">
            <div class="box-col-l">
                <div class="box-title">{{item.name}}</div>
            </div>
            <div class="box-col-r price-position">
                <div class="box-price" ng-if="item.additionalValue">+${{item.additionalValue}}</div>
            </div>
        </div>

    </div>
</div>