<div class="tabs-container">
    <div class="tabs" ng-class="{'selected-tab' : $index ==selectedIndex }" ng-click="setIndex($index)"
        ng-repeat="item in productData.details">{{item.name}}</div>
    <!-- <div class="tabs">Features</div>
    <div class="tabs">What's in the box?</div> -->
</div>
<div class="description">
    {{productData.details[selectedIndex].description}}
</div>