<div class="product-box">
    <img class="product-image" src="{{selectedImage.x3}}">
</div>
<div class="slider">
    <div class="slider-container">
        <div ng-mouseenter="elementHover($index)" ng-class="getOuterBorderClass($index ,product)"
            ng-mouseleave="elementHoverLeave()" ng-click="selectPreviewImage(product)"
            ng-class="{'selected-element-border':product.id ==selectedImage.id}" class="slider-box"
            ng-repeat="product in productData.images">
            <div class="inside-slider-box" ng-class="getInnerBorderClass($index ,product)">
                <img class="slider-image" src="{{product.x3}}" />
            </div>
        </div>
    </div>
</div>