/******************************************************************

1030px and up

******************************************************************/

.container {
  width: 1040px;
  margin: 0 auto;
}

/*********************
HEADER STYLES
*********************/

#inner-header {
  width: 1000px;
}

#logo {
  display: block;
}

/*********************
NAVIGATION STYLES
*********************/

.main-nav {
  display: block;
}

/*********************
RESPONSIVE NAV
*********************/

.hamburger {
  display: none;
}

.responsive-nav {
  display: none;
}

.product-box {
  padding: 20px 120px;
  padding-right: 140px;
}

.col-l {
  width: 50%;
  padding-right: 2.5rem;
}

.col-r {
  width: 50%;
}
