/******************************************************************

1240px and up

******************************************************************/

.container {
  width: 1240px;
}

.product-box {
  padding: 20px 120px;
  padding-right: 140px;
}

.col-l {
  width: 50%;
  padding-right: 2.5rem;
}

.col-r {
  width: 50%;
}

.features-box {
  width: 32%;
}
