/******************************************************************

481px and up

******************************************************************/

/*********************
POSTS & CONTENT STYLES
*********************/

.container {
  width: 480px;
}

.col-l {
  width: 100%;
}

.col-r {
  width: 100%;
}

.features-box {
  width: 45%;
}
