/******************************************************************

Site Name: AngularJS Boilerplate
Code: Jozef Butko - jozefbutko.com/resume
Date: Mar 2015

******************************************************************/

// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";

// Helpers
@import "partials/helpers";

// Headers
@import "partials/header";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

// the grid
@import "partials/grid";

/*********************
IMPORTING MODULES
*********************/ // alert boxes
@import "modules/alerts";

// buttons
@import "modules/buttons";

// forms (inputs & labels)
@import "modules/forms";

/*********************
BASE (MOBILE) SIZE
*********************/

// styles in base.scss
@import "breakpoints/base";

/*********************
PRINT STYLESHEET
*********************/
@media print {
  // styles in print.scss
  @import "partials/print";
}

.logo {
  margin-top: 2%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.product-box {
  border: 2px solid $light-gray;
  border-radius: 8px;
  padding: 20px 60px;
  padding-right: 80px;
  min-height: 60px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-l {
  width: 100%;
}

.col-r {
  width: 100%;
}

.custom-container {
  margin-left: 8%;
  margin-right: 8%;
}

.new-release {
  font-size: 13.33px;
  color: $text-red;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 2;
}

.product-title {
  font-size: 39.813px;
  color: $black;
  font-weight: 700;
  line-height: 1.206;
}

.product-subtitle {
  font-size: 27.648px;
  color: $text-color;
  font-weight: 400;
  line-height: 1.157;
}

.starting-at {
  font-size: 13.33px;
  color: $text-color;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 30px;
}

.product-price {
  font-size: 40px;
  color: $black;
  font-weight: 700;
  line-height: 1.206;
}

.tabs-container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 18px;
}

.tabs {
  cursor: pointer;
  font-size: 19.2px;
  font-weight: 500;
  margin-right: 20px;
  color: $text-color;
  line-height: 1.25;
}

.selected-tab {
  color: $black;
  padding-bottom: 2px;
  font-weight: bold;
  border-bottom: 2px solid $black;
}

.description {
  font-size: 16px;
  color: $text-color;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5;
  margin-bottom: 70px;
}

.details-title {
  font-weight: bold;
  color: $black;
  line-height: 1.25;
  font-size: 19.2px;
}

.details-spacing {
  margin-top: 16px;
}

.options-row {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choice-box {
  border: 2px solid $light-gray;
  border-radius: 8px;
  width: 48%;
  cursor: pointer;
}

.inside-choice-box {
  padding: 20px 15px;
  border-radius: 6px;
}

.box-container {
  border: 2px solid $light-gray;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 16px;
}

.inside-box-container {
  padding: 20px 15px;
  border-radius: 6px;
}

.box-title {
  font-weight: bold;
  color: $black;
  line-height: 1.429;
  font-size: 14px;
}

.box-subtitle {
  font-weight: 400;
  margin-top: 4px;
  color: $text-color;
  line-height: 1.429;
  font-size: 14px;
}

.price-position {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.box-price {
  font-weight: bold;
  color: $black;
  font-size: 14px;
  line-height: 1.429;
}

.space-container {
  margin-bottom: 60px;
}

.box-col-l {
  width: 70%;
}

.specifications-list {
  border-top: 1px solid $light-gray;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

.specifications-list-l {
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
}

.specifications-list-title {
  color: $black;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.429;
}

.specifications-list-value {
  color: $black;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.429;
}

.list-seprator {
  margin-bottom: 15px;
}

.specifications-list-r {
  width: 60%;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.slider {
  display: flex;
  margin-top: 16px;
  overflow-x: scroll;
}

.slider-container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.slider-box {
  border: 2px solid $light-gray;
  width: 33%;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 16px;
  text-align: center;
  &:last-child {
    margin-right: 0px;
  }
}

.inside-slider-box {
  padding: 10px 20px;
  border-radius: 6px;
  height: 100%;
}

.features-box {
  padding: 10px 20px;
  text-align: center;
  width: 32%;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
  &:last-child {
    margin-right: 0px;
  }
}

.technical-title {
  color: $black;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.429;
}

.technical-image {
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: auto;
  margin-bottom: auto;
}

.features-row {
  display: flex;
  flex-wrap: wrap;
}

.sl .box-col-r {
  width: 30%;
}

.selected-element-border {
  border: 2px solid $blue-color;
}

.hover-element-border {
  border: 2px solid $hover-color;
}

@media only screen and (min-width: 270px) {
  .features-box {
    width: 45%;
  }
}

/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (min-width: 481px) {
  // styles in 481up.scss
  @import "breakpoints/481up";
} // end of media query

/*********************
  TABLET & SMALLER LAPTOPS
  *********************/
@media only screen and (min-width: 768px) {
  // styles in 768up.scss
  @import "breakpoints/768up";
} // end of media query

/*********************
  DESKTOP
  *********************/
@media only screen and (min-width: 1030px) {
  // styles in 1030up.scss
  @import "breakpoints/1030up";
} // end of media query

/*********************
  LARGE VIEWING SIZE
  *********************/
@media only screen and (min-width: 1240px) {
  // styles in 1240up.scss
  @import "breakpoints/1240up";
} // end of media query

/*********************
  RETINA (2x RESOLUTION DEVICES)
  *********************/
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//        only screen and (min--moz-device-pixel-ratio: 1.5),
//        only screen and (min-device-pixel-ratio: 1.5) {

// 	// styles in 2x.scss
// 	@import "breakpoints/2x";

// } // end of media query
